@page
@model University.Pages.AboutModel

@{
    ViewData["Title"] = "Student Enrollment Statistics";
}

    <h2 style="font-family:Georgia;">Student Enrollment Statistics</h2>

<table>
    <tr>
        <th style="font-family:Georgia;">
            <u>Enrollment Date:</u>
        </th>
        <th>
            <u>Students:</u>
        </th>
    </tr>

    @foreach (var item in Model.Students)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.EnrollmentDate)
            </td>
            <td>
                @item.StudentCount
            </td>
        </tr>
    }
</table>

