@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Thank you for chosing our university.</p>
</div>
<div class="row mb-auto">
    <div class="col-md-4">
        <div class="row no-gutters border mb-4">
            <div class="col p-4 mb-4 ">
                <p class="card-text">
                    Our university offers some of the best instructors. Here you can learn many things - easy and understandable.
                    
                </p>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="row no-gutters border mb-4">
            <div class="col p-4 d-flex flex-column position-static">
                <p class="card-text mb-auto">
                    Take a look at the top worldwide universities. Discover the top universities in the world.
                </p>
                <p>
                    <a href="https://www.topuniversities.com/" class="stretched-link">Top universities</a>
                </p>
            </div>
            <div class="col p-4 d-flex flex-column position-static">
                <p class="card-text mb-auto">
                    Discover which universities in the UK come out on top in the QS World University Rankings 2021.
                </p>
                <p>
                    <a href="https://www.topuniversities.com/university-rankings-articles/world-university-rankings/top-universities-uk-2021" class="stretched-link">Top Universities in the UK</a>
                </p>
            </div>
            <div class="col p-4 d-flex flex-column position-static">
                <p class="card-text mb-auto">
                    These are the top 100 US universities, based upon the QS World University Rankings: USA 2020.
                </p>
                <p>
                    <a href="https://www.topuniversities.com/where-to-study/north-america/united-states/ranked-top-100-us-universities" class="stretched-link"> Top 100 US Universities</a>
                </p>
            </div>
            <div class="col p-4 d-flex flex-column position-static">
                <p class="card-text mb-auto">
                    Discover the top universities in Australia this year with the QS World University Rankings 2021.
                </p>
                <p>
                    <a href="https://www.topuniversities.com/university-rankings-articles/world-university-rankings/top-universities-australia-2021" class="stretched-link">Top Universities in Australia</a>
                </p>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="row no-gutters border mb-4">
            <div class="col p-4 d-flex flex-column">
                <p class="card-text mb-auto">
                    Around the world
                </p>
                <p>
                    The funding and organization of universities varies widely between different countries around the world. 
                    In some countries universities are predominantly funded by the state, 
                    while in others funding may come from donors or from fees which students attending the university must pay. 
                    In some countries the vast majority of students attend university in their local town, while in other countries 
                    universities attract students from all over the world, and may provide university accommodation for their students
                </p>
            </div>
        </div>
    </div>
</div>