@{
    ViewData["Title"] = "Bulgarian University";
}

<div class="text-center" style="font-family: Georgia;">
    <h1 class="display-4">Welcome to <b>BU</b></h1>
    <p style="font-size:18px;"><u>Thank you for chosing our university.</u></p>
</div>
<div class="row mb-auto" style="font-family: Georgia;">
    <div class="col-md-4">
        <div class="row no-gutters border mb-4">
            <div class="col p-4 mb-4 ">
                <p class="card-text">
                    Our university offers some of the best instructors. Here you can learn many things - easy and understandable.

                </p>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="row no-gutters border mb-4">
            <div class="col p-4 d-flex flex-column position-static">
                <p class="card-text mb-auto">
                    Take a look at the top worldwide universities. Discover the top universities in the world.
                </p>
                <p>
                    <a href="https://www.topuniversities.com/" class="stretched-link">Top universities</a>
                </p>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="row no-gutters border mb-4">
            <div class="col p-4 d-flex flex-column">
                <p class="card-text mb-auto">
                    In some countries the students attend university in their local town, while in other countries
                    universities attract students from all over the world.
                </p>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="row no-gutters border mb-4">
            <div class="col p-4 d-flex flex-column position-static">
                <p class="card-text mb-auto">
                    These are the top 100 US universities, based upon the QS World University Rankings: USA 2020.
                </p>
                <p>
                    <a href="https://www.topuniversities.com/where-to-study/north-america/united-states/ranked-top-100-us-universities" class="stretched-link"> Top 100 US Universities</a>
                </p>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="row no-gutters border mb-4">
            <div class="col p-4 d-flex flex-column position-static">
                <p class="card-text mb-auto">
                    Discover the top universities in Australia this year with the QS World University Rankings 2021.
                </p>
                <p>
                    <a href="https://www.topuniversities.com/university-rankings-articles/world-university-rankings/top-universities-australia-2021" class="stretched-link">Top Universities in Australia</a>
                </p>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="row no-gutters border mb-4">
            <div class="col p-4 d-flex flex-column position-static">
                <p class="card-text mb-auto">
                    Discover which universities in the UK come out on top in the QS World University Rankings 2021.
                </p>
                <p>
                    <a href="https://www.topuniversities.com/university-rankings-articles/world-university-rankings/top-universities-uk-2021" class="stretched-link">Top Universities in the UK</a>
                </p>
            </div>
        </div>
    </div>
</div>